<?xml version="1.0" encoding="UTF-8"?>
 <config>
    <modules>
        <Dropifi_Dropificontactwidget>
          <version>2.0.2</version>
        </Dropifi_Dropificontactwidget>
    </modules>
    <frontend>
	   <layout>
			<updates>
				<dropificontactwidget>
					<file>dropificontactwidget.xml</file>
				</dropificontactwidget>
			</updates>
	   </layout>
    </frontend>
    <admin>
        <routers>
            <dropificontactwidget>
                <use>admin</use>
                <args>
                    <module>Dropifi_Dropificontactwidget</module>
                    <frontName>admindropificontactwidget</frontName>
                </args>
            </dropificontactwidget>
        </routers>      
    </admin>
    <adminhtml>      
        <layout>
            <updates>
                <dropificontactwidget>
                    <file>dropificontactwidget.xml</file>
                </dropificontactwidget>
            </updates>
        </layout>
        <menu>
            <dropificontactwidget translate="title" module="adminhtml">
                <title>Dropifi Contact Widget</title>
                <sort_order>100</sort_order>
                <children>
                    <dropifi>
                        <title>Settings</title>
                        <action>admindropificontactwidget/adminhtml_dropifi</action>
                    </dropifi>
                </children>
            </dropificontactwidget>            
        </menu>
    </adminhtml>  	
    <global>
        <models>
            <dropifi_dropificontactwidget>
                <class>Dropifi_Dropificontactwidget_Model</class>
                <resourceModel>dropificontactwidget_resource</resourceModel>           
            </dropifi_dropificontactwidget>
            <dropificontactwidget_resource>
                <class>Dropifi_Dropificontactwidget_Model_Resource</class>
                <entities>
                    <dropificontactwidget>
                        <table>dropifi_dropificontactwidget</table>
                    </dropificontactwidget>
                </entities>
            </dropificontactwidget_resource>
        </models>
        <helper>
            <dropifi_dropificontactwidget>
                <class>Dropifi_Dropificontactwidget_Helper</class>
            </dropifi_dropificontactwidget>
        </helper>
		<blocks>
			<dropificontactwidget>
				<class>Dropifi_Dropificontactwidget_Block</class>
			</dropificontactwidget>
            <page>
                <updates>
                    <html_head>Dropifi_Dropificontactwidget_Block_Html_Head</html_head>
                </updates>
            </page>
		</blocks>                        
        <resources>
            <dropifi_dropificontactwidget_setup>
                <setup>
                    <module>Dropifi_Dropificontactwidget</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </dropifi_dropificontactwidget_setup>
        </resources>
	</global>
</config>
